@tailwind base;
@tailwind components;
@tailwind utilities;

.document .document .document {
  @apply max-w-[210mm];

  section {
    @apply py-4;
  }

  p {
    @apply text-justify;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-bold mb-2 text-center;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  h4 {
    @apply text-base;
  }

  ol {
    @apply list-decimal list-outside pl-5;
  }

  ol,
  li,
  p {
    @apply my-1;
  }

  ol > li > ol {
    @apply list-none list-inside;
    counter-reset: list;
  }

  ol > li > ol > li {
    @apply ml-6 table;
  }

  ol > li > ol > li:before {
    @apply table-cell pr-1;
    content: counter(list, lower-alpha) ') ';
    counter-increment: list;
  }

  ol > li > ol > li > ol > li:before {
    content: counter(list, lower-roman) '. ';
  }
}
